* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: var(--transition);

  &::after {
    box-sizing: border-box;
    transition: var(--transition);
  }

  &::before {
    box-sizing: border-box;
    transition: var(--transition);
  }
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

a {
  color: initial;
  text-decoration: none;
}

input {
  border: 0;
  outline: 0;
}

ul,ol {
  list-style: none;
}

body, html {
  font-family: 'PF DinDisplay Pro';
  font-weight: normal;
}

body {
  background: var(--clr-bg-secondary);
  border-radius: 24px;

  //.right-sidebar {
  //  .content {
  //    max-width: var(--wrapper-right-sidebar);
  //  }
  //}
  //
  //.left-sidebar {
  //  .content {
  //    max-width: var(--wrapper-left-sidebar);
  //  }
  //}

  .both-sidebars {
    .content {
      max-width: var(--wrapper-both-sidebars);
    }
  }
}

.wrapper {
  background: var(--clr-bg-secondary);
  padding-top: 40px;
}

.content {
  padding: 40px;
  background: var(--clr-bg-primary);
  max-width: var(--wrapper-right-sidebar);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  @include mv(24);

  &>* {
    margin: 0 6px;
  }
}

.skeleton {
  animation: skeleton 2s infinite ease-in;
  border-radius: 4px;

  * {
    opacity: 0;
  }
}

.disabled {
  cursor: default;
  pointer-events: none;
}

.list-arrow {
  display: flex;
  align-items: center;

  svg {
    path {
      stroke: var(--clr-general-black-100);
    }
  }
}

.opened, .active {

  .list-arrow {
    transform: rotate(180deg);

    svg {
      path {
        stroke: var(--clr-gray);
      }
    }
  }
}