:root {
  --transition: all .2s ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: var(--transition);

  &::after {
    box-sizing: border-box;
    transition: var(--transition);
  }

  &::before {
    box-sizing: border-box;
    transition: var(--transition);
  }
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

body, html {
  font-family: 'PF DinDisplay Pro';
  font-weight: normal;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  @include mv(24);

  &>* {
    margin: 0 6px;
  }
}

.disabled {
  //opacity: .5;
  cursor: default;
  pointer-events: none;
}
