//%no-margin {
//  margin: 0!important;
//}
//
//@for $i from 0 through 128 {
//  %mt-#{$i} {
//    margin-top: $i * 1px;
//  }
//  %mb-#{$i} {
//    margin-bottom: $i * 1px;
//  }
//  %mv-#{$i} {
//    margin-top: $i * 1px;
//    margin-bottom: $i * 1px;
//  }
//}

@mixin m-0 {
  margin: 0!important;
}

@mixin mt($value) {
  margin-top: #{$value}px;
}

@mixin mb($value) {
  margin-top: #{$value}px;
}

@mixin mv($value) {
  margin-top: #{$value}px;
  margin-bottom: #{$value}px;
}