.ts--search {

  &__all-results {
    width: 100%;
    padding: 11px 0;
    height: 48px;
  }

  &__total {
    color: #ECECF6!important;
    margin-left: 10px;
  }

  &__result-title {
    @include ty-paragraph-large(bold);
    color: #9F9FB0;
    margin-bottom: 20px;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    border: 1px solid var(--clr-btn-span);
    border-radius: 8px;
    padding: 11px 20px;
    height: 48px;

    input[type='search'] {
      display: block;
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      background-color: transparent;
      @include ty-paragraph-medium;

      &::-webkit-search-cancel-button {
        display: none;
      }
    }
  }

  &__icon {
    .ts--graphic-view {
      width: 24px;
      height: 24px;
    }
  }

  &__remove {
    cursor: pointer;

    .ts--graphic-view {
      width: 20px;
      height: 20px;
    }
  }

  &__result-wrapper {
    display: none;
    padding: 20px 20px 12px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    &.active {
      display: block;
    }
  }

  &_short {
    max-width: 240px;

    .ts--search__input-wrapper {
      background-color: var(--clr-btn-span);
    }

    .ts--search__remove {
      .ts--graphic-view {
        background-color: #fff;
      }
    }

    .ts--search__result-wrapper {
      padding: 40px 0 20px;
      background-color: transparent;
      box-shadow: none;
    }

    .ts--suggestion {
    }
  }
}

.ts--result {

  &__wrapper {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    margin: 0 -20px;
    padding: 8px 20px;

    &-row {
      display: flex;
      align-items: center;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 20px;
    background: #ECECF7;
    border-radius: 4px;
    padding: 0 6px;

    span {
      @include ty-paragraph-tiny(500);
      color: #9F9FB0;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    background-color: #F5F5FB;
  }

  &__text {
    @include ty-paragraph-medium;
  }
}

.ts--suggestion {
  display: none;

  &_active {
    display: block;
  }

  &__title {
    margin-bottom: 12px;
  }

  .ts--result__quantity {
    display: none;
  }
}
