<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Button</title>
  <link rel="stylesheet" href="../../assets/styles/ui.css">
</head>
<body style="margin-top: 48px;">

<!--light-->
<button class="ts-btn ts-btn__light">
  <a>
    <span>Title</span>
  </a>
</button>

<!--light text-right-->
<button class="ts-btn ts-btn__light ts-btn__text-right">
  <a>
    <span>Title</span>
    <span>10</span>
  </a>
</button>

<!--light text-left-->
<button class="ts-btn ts-btn__light ts-btn__text-left">
  <a>
    <span>10</span>
    <span>Title</span>
  </a>
</button>

<!--dark-->
<button class="ts-btn ts-btn__dark">
  <a>
    <span>Title</span>
  </a>
</button>

<!--darken-->
<button class="ts-btn ts-btn__darken">
  <a>
    <span>Title</span>
  </a>
</button>

</body>
</html>