<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tabs</title>
  <link rel="stylesheet" href="../../assets/styles/ui.css">
</head>
<body>


<div class="ts--tabs">
  <div class="ts--tabs__controls">
    <div class="ts--tabs__item active">
      <span>Item</span>
    </div>
    <div class="ts--tabs__item">
      <span>Item</span>
    </div>
  </div>
  <div class="ts--tabs__wrapper">
    <div class="ts--tabs__content"></div>
    <div class="ts--tabs__content"></div>
  </div>
</div>

<div class="ts--tabs">
  <div class="ts--tabs__controls ts--tabs__controls_bordered">
    <div class="ts--tabs__item active">
      <span>Item</span>
    </div>
    <div class="ts--tabs__item">
      <span>Item</span>
    </div>
  </div>
  <div class="ts--tabs__wrapper">
    <div class="ts--tabs__content"></div>
    <div class="ts--tabs__content"></div>
  </div>
</div>


</body>
</html>