<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Switch Button</title>
    <link rel="stylesheet" href="../../assets/styles/ui.css">
</head>
<body>

<!--unchecked-->
<div class="ts-chips-item">
    <input id="checkbox-1" name="chips" type="checkbox"/>
    <label for="checkbox-1"><span>Title</span></label>
</div>

<!--unchecked disabled-->
<div class="ts-chips-item disabled">
    <input id="checkbox-2" name="chips" type="checkbox"/>
    <label for="checkbox-2"><span>Title</span></label>
</div>

<!--checked-->
<div class="ts-chips-item">
    <input id="checkbox-3" name="chips" type="checkbox" checked/>
    <label for="checkbox-3"><span>Title</span></label>
</div>

<!--checked disabled-->
<div class="ts-chips-item disabled">
    <input id="checkbox-4" name="chips" type="checkbox" checked/>
    <label for="checkbox-4"><span>Title</span></label>
</div>
</body>
</html>