<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Switch Button</title>
    <link rel="stylesheet" href="../../assets/styles/ui.css">
</head>
<body>

<!--unchecked-->
<div class="ts-switch-button">
    <input id="checkbox-1" name="switch" type="checkbox" />
    <label for="checkbox-1"><span></span></label>
</div>

<!--unchecked-->
<div class="ts-switch-button disabled">
    <input id="checkbox-2" name="switch" type="checkbox" />
    <label for="checkbox-2"><span></span></label>
</div>

<!--checked-->
<div class="ts-switch-button">
    <input id="checkbox-3" name="switch" type="checkbox" checked />
    <label for="checkbox-3"><span></span></label>
</div>

<!--checked disabled-->
<div class="ts-switch-button disabled">
    <input id="checkbox-4" name="switch" type="checkbox" checked />
    <label for="checkbox-4"><span></span></label>
</div>
</body>
</html>