.footer {
  padding: var(--footer-padding);
  padding-bottom: 0;
  margin: 0 -40px;
  margin-top: 80px;
  border-top: 1px solid var(--clr-border);

  & > * {
    margin-bottom: var(--footer-margin);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h4 {
    display: block;
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    color: var(--clr-gray);
    margin-bottom: 18px;
  }

  &-socials {
    margin-top: 20px;
  }

  &-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__column {
      max-width: 25%;
      width: 100%;

      &:last-of-type {
        .footer-menu__item {
          &:last-of-type {
            max-width: 255px;
          }
        }
      }
    }

    &__title {
    }

    &__list {
    }

    &__item {
      @include ty-paragraph-medium-no-pad;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-partners {

    &__row {
      display: flex;
      justify-content: space-between;

      img {
        max-width: 133px;
        width: (1/8)*100%;
        flex: 1 1 (1/8)*100%;
      }
    }
  }

  &-payments {

    &__row {
      max-width: 794px;
      display: flex;
      justify-content: space-between;

      img {
        max-width: 82px;
        width: (1/8)*100%;
        flex: 1 1 (1/8)*100%;
      }
    }
  }

  &-copyright {
    display: flex;
    justify-content: space-between;
    padding: var(--footer-padding);
    padding-bottom: 0;
    margin: 0 -40px;
    border-top: 1px solid var(--clr-border);

    &__text {
      color: var(--clr-gray);
      @include ty-paragraph-medium-no-pad;
    }
  }

  &-socials {
    display: flex;
    justify-content: space-between;
    max-width: 242px;

    &__item {
      border-radius: 50%;
      border: 1px solid var(--clr-border);
    }
  }
}