.footer {
  padding: var(--footer-padding);
  padding-bottom: 0;
  margin: 0 -40px;
  margin-top: 80px;
  border-top: 1px solid var(--clr-border);

  @media (max-width: 1024px) {
    padding: 0;
    margin: 20px -20px 0;
  }

  & > * {
    margin-bottom: var(--footer-margin);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h4 {
    display: block;
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    color: var(--clr-gray);
    margin-bottom: 18px;
  }

  &-socials {
    margin-top: 20px;
  }

  &-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }

    &__column {
      max-width: 25%;
      width: 100%;

      @media (max-width: 1024px) {
        max-width: 100%;
        border-bottom: 1px solid var(--clr-border);
        padding: 0 20px;

        &:last-of-type {
          border-bottom: 0;
        }
      }

      &:last-of-type {
        .footer-menu__item {
          &:last-of-type {
            max-width: 255px;
          }
        }
      }

      &.active {
        .footer-menu__list {
          padding-bottom: 25px;
        }
      }
    }

    &__title-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 18px;
      pointer-events: none;

      @media (max-width: 1024px) {
        padding: 20px 0;
        cursor: pointer;
        pointer-events: all;
      }

      h4 {
        margin-bottom: 0;
      }

      .list-arrow {
        display: none;

        @media (max-width: 1024px) {
          display: block;
        }
      }
    }

    &__list {
    }

    &__item {
      @include ty-paragraph-medium-no-pad;
      margin-bottom: 10px;

      @media (max-width: 1024px) {
        margin-bottom: 12px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-partners {

    @media (max-width: 1024px) {
      padding: 0 20px;
    }

    &__row {
      display: flex;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
      }

      img {
        max-width: 133px;
        width: (1/8)*100%;
        flex: 1 1 (1/8)*100%;

        @media (max-width: 1024px) {
          //max-width: 231px;
          width: (1/4)*100%;
          flex: 1 1 (1/4)*100%;
        }
      }
    }
  }

  &-payments {

    @media (max-width: 1024px) {
      padding: 0 20px;
    }

    &__row {
      max-width: 794px;
      display: flex;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
      }

      img {
        max-width: 82px;
        width: (1/8)*100%;
        flex: 1 1 (1/8)*100%;

        @media (max-width: 1024px) {
          width: (1/4)*100%;
          flex: 1 1 (1/4)*100%;
        }
      }
    }
  }

  &-copyright {
    display: flex;
    justify-content: space-between;
    padding: var(--footer-padding);
    padding-bottom: 0;
    margin: 0 -40px;
    border-top: 1px solid var(--clr-border);

    @media (max-width: 1024px) {
      padding: 20px;
      margin: 0;
      border-top: 0;
    }

    &__text {
      color: var(--clr-gray);
      @include ty-paragraph-medium-no-pad;

      @media (max-width: 1024px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__icon {

      svg {
        @media (max-width: 1024px) {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &-socials {
    display: flex;
    justify-content: space-between;
    max-width: 242px;

    &__item {
      border-radius: 50%;
      border: 1px solid var(--clr-border);
    }
  }
}