.header {
  display: flex;
  padding: 0 40px;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);

  @media (max-width: 1480px) {
    justify-content: center;
  }

  &__logo {
    margin-top: 26px;
    margin-bottom: 8px;
  }

  &__notifications {
    position: relative;
    cursor: pointer;

    @media (max-width: 1480px) {
      margin-right: 16px;
      margin-left: auto;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      width: 100%;
      height: 2px;
      background: transparent;
      border-radius: 2px 2px 0px 0px;
    }

    &.opened {

      &::after {
        background: var(--clr-accent);
      }

      .notifications {
        display: block;
      }
    }

    &_new {
      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--clr-accent);
        box-shadow: 0 0 8px #FFD6DD;
      }
    }

    svg {
      width: 24px;
    }
  }

  &__settings {
    cursor: pointer;

    @media (max-width: 1480px) {
      display: none;
    }

    svg {
      width: 24px;
    }
  }

  &__user {
    position: relative;
    max-width: 240px;
    width: 100%;
    cursor: pointer;

    @media (max-width: 1480px) {
      max-width: 100%;
      width: auto;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      background: transparent;
      border-radius: 2px 2px 0px 0px;
      height: 2px;
      width: 100%;
    }

    &.opened {
      &::after {
        background: #E12B4B;
      }

      .user-menu {
        display: block;
      }
    }
  }
}

.user-menu {
  display: none;
  width: 240px;
  //width: 100%;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 60px;
  background: var(--clr-bg-primary);
  box-shadow: var(--popup-box-shadow);
  border-radius: var(--popup-border-radius);

  li {
    border-bottom: 1px solid var(--clr-border);

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px;
    }

    span {
      @include ty-paragraph-medium-no-pad;
      padding: 3px 0 1px;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.h-user {
  display: flex;
  align-items: center;
  padding-right: 20px;

  @media (max-width: 1480px) {
    padding-right: 0;
    justify-content: flex-end;
  }

  &__name {
    color: var(--clr-interface-primary-100);
    margin-right: 8px;

    @media (max-width: 1480px) {
      display: none;
    }
  }

  &__balance {
    @include ty-paragraph-large;
    padding: 1px 0;
    color: var(--clr-gray);

    @media (max-width: 1480px) {
      display: none;
    }

    span {
      &:last-of-type {
        padding-left: 4px;
      }
    }
  }

  &__photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
    background: #000;

    @media (max-width: 1480px) {
      margin-right: 0;
    }
  }

  .list-arrow {
    margin-left: auto;

    @media (max-width: 1480px) {
      display: none;
    }
  }
}

.header-menu {
  max-width: 1076px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1480px) {
    display: none;
  }

  &__item {
    cursor: pointer;
    padding: 0 10px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;

      span {
        &::after {
          bottom: -19px;
        }
      }
    }

    span {
      display: block;
      position: relative;
      color: rgba(159, 159, 176, 1);
      @include ty-paragraph-large;

      &::after {
        content: '';
        background-color: transparent;
        border-radius: 2px 2px 0 0;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -23px;
      }
    }

    &.active {
      span {
        color: rgba(45, 45, 53, 1);
      }

      span {
        &::after {
          background-color: var(--clr-brand-primary-100);
        }
      }
    }
  }
}

.menu-more {
  position: relative;

  &__trigger {
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
  }

  &.active {
    .menu-more {
      &__trigger {
        background: #E6E6F0;

        svg {
          circle {
            stroke: var(--clr-general-black-100)
          }
        }
      }
    }
  }

  &-list {
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    width: 168px;
    background: var(--clr-bg-primary);
    border-radius: var(--popup-border-radius);
    box-shadow: var(--popup-box-shadow);

    &__item {
      border-bottom: 1px solid var(--clr-border);
      @include ty-paragraph-large-no-pad;

      a {
        display: block;
        padding: 12px 20px;
      }

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}

.header-mobile-menu {
  display: none;
  margin-right: auto;

  @media (max-width: 1480px) {
    display: block;
  }

  &__burger {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      @include ty-paragraph-large-no-pad;
      margin-left: 12px;
    }
  }
}

